{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 47.12395044852311,
    "longitude": 15.614340305328371,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Vienna",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "AT",
    "language": "de",
    "radius": 100
  }
}